.song-controlers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-size: 1.5rem;
}

.song-controlers .play{
   font-size: 2rem;
}

.song-controlers i{
    padding: 5px;
}